.modal{
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-color{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to top,rgba(0,0,0,1) 0%,rgba(0,0,0,40) 0%,rgba(0,0,0,70) 0%,rgba(0,0,0,0) 25%);
  background-color: rgba(0, 0, 0, 0.3);
}

.favorite{
    background-color:rgba(0, 0, 0, 0.7)
}

.favorite:hover{
    background-color:rgba(0, 0, 0, 0.8)
}

.detail{
    height: 30%;
    margin-top: 5%;
}

.movieBG{
    min-height: 700px;
}

.movieBgColor{
    background-color: rgba(161, 8, 8, 0.2);
    Background-image: linear-gradient(to top,rgba(0,0,0,1) 10%,rgba(0,0,0,40) 10%,rgba(0,0,0,70) 10%,rgba(0,0,0,0) 13%);
}
